.header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    margin: 20px;
    padding-bottom: 20px;
}
.login{
    position: absolute;
    right: 20px;
    background-color: blue;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    margin: 20px;
    border-radius: 3px;
}
@media screen and (max-width: 1000px){
    .homeLink{
        display: none;
    }
    .logo{
        margin: 20px;
    }
    .header{
        padding-bottom: 0;
    }
}